{% extends "layout.html" %}

{% block title %}
    Your Questions
{% endblock %}

{% block main %}
    <h1>Your Questions</h1>
        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Category</th>
                </tr>
            </thead>    
        {% for question in questions %}
            <tr>
                <td>{{ question["question"] }}</td>
                <td>{{ question["answer"] }}</td>
                <td>{{ question["category"] }}</td>
            </tr>
        {% endfor %}
        </table>

{% endblock %}