{% extends "layout.html" %}

{% block title %}
    Add Question
{% endblock %}

{% block main %}
    <form action="/quiz" method="post">
            <input autocomplete="off" autofocus id="num_quest" name="num_quest" placeholder="Number of questions" type="text"><br>
            <select  id="category" name="category">
                <option disabled selected value="">Category</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        <button type="submit">Start Quiz</button>
    </form>

{% endblock %}
