{% extends "layout.html" %}

{% block title %}
    Test Yourself
{% endblock %}

{% block main %}
        <!-- TODO -->

        <script>
        const answer = "{{ question['answer'] }}";
        if (answer == "") {
            document.getElementById("btn_flip").disabled = true;
        }
        function flipCard() {
            front = document.getElementById("card-front");
            back = document.getElementById("card-back");
            front.classList.toggle("invisible");
            back.classList.toggle("invisible");
            }
        </script>
{% endblock %}
